In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("hw2.ipynb")

## <u>Name:</u> [Your name] and (your onyen)

Names and Onyens of fellow students you discussed Homework2 problems and ideas:

- Students: 

We encourage discussing ideas and brainstorming with your peers, but the final text, code, and comments in this homework assignment MUST be 100% written by you as mentioned in syllabus.

# Homework 2: Python lists, control flow, and Pandas (50 points)

Please complete this notebook by filling in the cells provided. Be sure to run the cell above that loads the autograder, and be sure to save your notebook before generating your submission by running the last cell.

!! Please submit a PDF of your notebook and upload it to Gradescope along with the generated zip file in the same submission.  If no PDF submitted, **points will be deducted**.  You can make a PDF from JupyterHub by 1. File->Print or 2. Command+P (on Mac), then choose 'Save to PDF'. This saves the file on your laptop.  You can then drag and drop the zip & pdf file together to the upload box on Gradescope.

!! Points will also be **deducted** if you do not include your name and Onyen in the Markdown cell above!

Note that for homework, the autograder is useful feedback that you should pay attention to, and the autograder gives additional feedback when you submit to Gradescope, so we encourage you to submit as often as you like!  Note that only the last submission will be used for grading.  Als note that passing the autograder for a problem **DOES NOT GUARANTEE** you will get full credit on the problem.

In [ ]:
import pandas as pd

## Problem 1. Python Lightning Round (10 points)
For each of the sentences below, write the corresponding Python code.  For example, for the sentence "Assign the string `Rick is left-handed` to the variable named `inconceivable`", the corresponding code would be:

`inconceivable = 'Rick is left-handed'`

Don't change any of the code that is provided.  Note that answers may require more than a single line of code.

**Problem 1.1 (1 point).** Assign 8.2 to two variables named `x` and `y` then assign the sum of `x` and `y` to a variable named `z`.

In [ ]:
...

**Problem 1.2 (1 point).** Assign a list of 4 consecutive even integers starting with 12 to a variable named `some_evens`.

In [ ]:
# Write your code here by replacing the ...
...

**Problem 1.3 (1 point).** To a variable named `my_items`, assign a list that contains -7, the string 'notebook', and 4.8 (in this order).

In [ ]:
...

**Problem 1.4 (1 point).** Assign a range of integers to a variable named `buzz` that starts at 7 and steps by 7 up to and including 35.

In [ ]:
...

In [ ]:
grader.check("q1.4")

**Problem 1.5 (1 points).** Assign the last item from a list named `many_things` to a variable named `last_one`.  Don't change any of the given code, only replace the three dots.

In [ ]:
import random
many_things = random.sample(range(0, 11), 10)
last_one = ...

**Problem 1.6 (1 points).** Assign to a variable named `third_one` the third item from a list named `more_things`

In [ ]:
import random
more_things = random.sample(range(100, 121), 10)
third_one = ...

**Problem 1.7 (2 points).** Write code to loop through all the elements in a list of strings named `lots_of_words` and increment a variable named `big_word_count` by a value of 1 for each string that is more than 4 letters long.  Remember, don't change any of the given code.

In [ ]:
lots_of_words = "This is an awful large number of words, don't-ya-know".split()
big_word_count = 0
...

**Problem 1.8 (2 points).** Write code to to loop through all the strings in a list of strings named `many_words` and print the string, the index of the string in the list, and the string converted to upper case.  Remember, don't change any of the given code.  This question will be graded manually.

In [ ]:
many_words = "So many words, such little oxygen in the room.".split()
...

## Problem 2. Control flow (10 points) 
In this problem you will be building on what you learned during Lab 3, so fully completing that is recommended.  You'll be writing code to loop through a list and perform different actions depending on the type of the element in the list, which is a common programming pattern.  This question will be manually graded.

**Problem 2.1 (2 points).** First, write code to loop through a list named `employee_data` and print the type of every item in the list.

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
# write your code here by replacing the "..." with your solution
...

**Problem 2.2 (1 point).** Next, rewrite your loop again below, but instead of printing the type of every one of the items in the list, test if the type of the item is a string, and if so, print the item.

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
# write your code here by replacing the "..." with your solution
...

**Problem 2.3 (1 points).** Next, copy your code from Problem 2.2 and add to it another test.  In the case that the type of the item was not `str`, test if the type is `int`, and if it is, add the item to `int_total` and print "Running total" followed by `int_total` on the same line.  You shouldn't need to change any of the code you've already written, just add more code.  Hint: the output when you run your completed code should look like this:
```
Rick
Running total 6
Piper
Running total 48
```

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
int_total = 0
# write your code here by replacing the "..." with your solution
...

**Problem 2.4 (1 point).** Copy your code from Problem 2.3, and add another test to it.  In the case the item is not a string or int, test if the item is a float and if so, increment `float_count` and add the item to `float_total` and print "Running average" followed by `float_total` divided by `float_count` on the same line.

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
int_total = 0
float_total = 0
float_count = 0
# write your code here by replacing the "..." with your solution
...

**Problem 2.5 (1 point).** Copy your from Problem 2.4, and this time add code that prints "Unprocessed item" for any type that you didn't already test for.  Hint: you don't need to add any new test for this.

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
int_total = 0
float_total = 0
float_count = 0
# write your code here by replacing the "..." with your solution
...

**Problem 2.6 (2 points).** Oops!  We actually are going to handle one more type.  Copy your code from Problem 2.5, and again you will just be adding to it.  Add a test to see if the item is type `range`, and if it is print "Counting..." then print every item in the range on a separate line.  Hint: the output should look like this:
````
Rick
Running total 6
Unprocessed item
Running average 8.6
Piper
Running average 16.45
Counting...
0
1
2
3
4
Running total 48
````

In [ ]:
employee_data = ['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42]
int_total = 0
float_total = 0
float_count = 0
# write your code here by replacing the "..." with your solution
...

**Problem 2.7 (2 points).** Okay!  One last bit of code to write.  Lists can contain objects of various types...including other lists!  For this problem, you'll be using all your code from Problem 2.6, but you'll be "nesting it" inside another `for` loop.  The "outside" loop will process a list named `company_data` that contains the data for multiple employees, with each employee's data in a list (just like you've been using).  The "inside" loop is your code from Problem 2.6.  One more thing (really?!?): use `enumerate` with the outer `for` loop and print "Employee #" followed by the index of the outer loop before executing the inner loop.

In [ ]:
company_data = [['Rick', 6, True, 8.6, 'Piper', 24.3, range(5), 42],
                ['Harlin', False, 'Puppycat', 9.3, range(6,0,-2)],
                ['Chudi', 1,2,3, 'No pets']]
# write the code for the outer loop here by replacing the "..." with your solution
...
    int_total = 0
    float_total = 0
    float_count = 0
# write the code for the inner loop here (your code from Problem 2.7)
...

Hint: the final output should look like this:
````
Employee # 0
Rick
Running total 6
Unprocessed item
Running average 8.6
Piper
Running average 16.45
Counting...
0
1
2
3
4
Running total 48
Employee # 1
Harlin
Unprocessed item
Puppycat
Running average 9.3
Counting...
6
4
2
Employee # 2
Chudi
Running total 1
Running total 3
Running total 6
No pets
````

## Problem 3. Creating Tables (10 points)
Instead of a list of lists, it is often easier to use a table to represent groups of data.  In most cases, you will be using data that you are reading in from a file; in fact, sometimes you might be using data that is so big it can't fit in memory, and HAS to be accessed from a file!  But it can still be useful to know how to build a table from scratch, and understanding how to do it also provides insight into the behavior of tables.  Run the code below to see an example of how to create a table.

In [ ]:
import pandas as pd
row_list0 = [1, 2, 3]
row_list1 = [4, 5, 6]
row_list2 = [7, 8, 9]
df = pd.DataFrame( data=[row_list0, row_list1, row_list2], columns=['name', 'rank', 'serial number'])
df

**Problem 3.1 (2 points).** Suppose you're using Python to help solve a high school Algebra problem.  You have 8 trains, 6 planes, and 3 boats.  Create a table (pandas DataFrame) named `vehicles` that contains this information. It should have two attributes or pieces of information about each vehincle: `'Vehicle name'` and `'Count'`.  Note: Use lower-case and singular words for the name of each fruit, like "train".

In [ ]:
...
autograder31=vehicles.copy()

In [ ]:
grader.check("q3.1")

**Problem 3.2 (1 point).** Write code that computes the total of the number of vehicles in the table and assigns it to a variable named `vehicle_count`.

In [ ]:
vehicle_count = ...

**Problem 3.3 (2 points).** Add a new attribute to `vehicles` named `'Cost'` and initialize the cost for all the vehicles to be 1,000,000

In [ ]:
...
autograder33=vehicles.copy()

In [ ]:
grader.check("q3.3")

**Problem 3.4 (2 points).** Now, let's add another row to the table.  To do this, note that `df.loc[rownum]` returns a particular row of `df` according to the row label (index), and `len(df)` returns the current number of rows of `df`.  To add a new row to our example table from above:

In [ ]:
df.loc[len(df)] = [ 10, 11, 12]
df

Your turn.  Suppose you have a second set of 5 planes whose cost is 1,999,999.  Add those to the end of the table `vehicles`.

In [ ]:
...
autograder34=vehicles.copy()

In [ ]:
grader.check("q3.4")

**Problem 3.5 (1 points).** Now let's change the price for all planes.  To do this, use **Boolean indexing** as covered in lecture.  A Boolean index is a sequence of True/False values that results from a comparison on a particular column.  Assign a Boolean index to select planes to the variable `plane_bool_index`.  Hint:  the cell below shows an example:

In [ ]:
example_bool_index=df['name']==4
list(example_bool_index)

In [ ]:
plane_bool_index = ...
plane_bool_index.dtype

In [ ]:
grader.check("q3.5")

**Problem 3.6 (2 points).** To change the price for just planes, we need to set the value of particular cells.  In Problem 3.4 you used `loc()` to add a new row; similarly, we can use `loc()` to assign cells of a particular column for only our Boolean indexed rows.  Again, see the example for `df`:

In [ ]:
df.loc[ example_bool_index, 'serial number' ] = 99
df

The above code is effectively "For all the rows in which `name` equals 4, set the value for `serial number` to be 99.  Similarly, your task is to set the cost for planes in `vehicles` to 1499999 using Boolean indexing and `loc()`.

In [ ]:
...
vehicles

In [ ]:
grader.check("q3.6")

## Problem 4. R.O.U.S.es (10 points)
**R**odents **O**f **U**nusual **S**ize are fabled to be one of the most fearsome creatures you might ever encounter, but accounts of their attributes vary widely.

**Problem 4.1 (1 point).** Run the following code to load a table of all known data about R.O.U.S.es. How many attributes or different pieces of information have been measured for R.O.U.S.es?  Assign that number to `num_attributes`.

In [ ]:
import pandas as pd
rodents_of_unusual_size = pd.read_csv("ROUSes.csv")
rodents_of_unusual_size

In [ ]:
# write your code here by replacing the "..." with your solution
...
print(num_attributes)

In [ ]:
grader.check("q4.1")

**Problem 4.2 (1 point).** Write pandas code to compute the number of R.O.U.S.es in the table that are not Female.  Assign that number to `num_not_female`.

In [ ]:
# write your code here by replacing the "..." with your solution
...
print(num_not_female)

**Problem 4.3 (1 point).** Write pandas code to compute the number of R.O.U.S.es that are of either 'Sleepy' or 'Playful' temperament.  Assign that number to `num_harmless`.

In [ ]:
...
print(num_harmless)

**Problem 4.4 (2 points).** Write pandas code to compute the total weight of R.O.U.S.es that are moody and female and over the age of 11.  Assign that number to `total_weight`.

In [ ]:
...
print(total_weight)

**Problem 4.5 (1 point)** Sometimes sorting or grouping the data by an attribute can help to make sense of the data.  Write pandas code to sort the data by `Age`. No need to save or assign the modified table to a variable.  This question will be manually graded.

In [ ]:
...

**Problem 4.6 (1 point).**  With the data sorted by age, what trends do you see in the `Temperament`?  Are there any exceptions to the trends? No need to calculate anything.

_Type your answer here, replacing this text._

**Problem 4.7 (2 points).** Some people report that real danger from R.O.U.S.es is that they are very uncoordinated and sometimes trip and fall onto people, so `Weight` is actually the attribute which represents the biggest threat.   Write a `for` loop that calculates the mean weight for each temperament, and **print**s it along side the temperament.  This question will be manually graded.

Hint: this is just like a problem we covered in lecture.

In [ ]:
...

**Problem 4.8 (1 point).** What temperament on average would be the most dangerous to encounter?  What temperament on average would be the least dangerous to encounter?

_Type your answer here, replacing this text._

**Extra credit (1 point).**  Sometimes even a single data point can really change the statistics of a dataset, so it can be useful to examine such individual data points.  Which data point is most extreme in this dataset?  Is this data point still consistent with the general trends in the data?  Using mental math, if we removed this point, and recalculated the mean weights, would it have any effect on the ordering of dangerousness?

_Type your answer here, replacing this text._

## Problem 5. (10 points). Burritos
A certain Carolina student from DATA110 is visiting California for Spring Break this year, and they intend to use their newly-mastered Data Science skills to make sure they have some great burritos while they are there.  And the rest of the DATA110 students get this delightful homework problem out of the experience!  The student found some data files with reviews and menu information for some California burrito restauraunts, but unfortunately the data was not nearly as clean as most of what they had dealt with in class, so they had to do some work on the data first.

**Problem 5.1 (1 point).** Write the code to load the file "burrito_ratings.csv" into a DataFrame named `burritos`.

In [ ]:
import pandas as pd
pd.options.display.max_colwidth=15

burritos = ...

print(burritos)

In [ ]:
grader.check("q5.1")

**Problem 5.2 (1 point).** Write code to calculate average cost of items in the table `burritos` rounded to the nearest cent?

In [ ]:
average_cost = ...

**Problem 5.3 (2 points).** Make a new table called `top_rated_burritos` that is just like `burritos` but only includes entries that have an Overall rating >= 4.2.

In [ ]:
...
print(top_rated_burritos)

**Problem 5.4 (1 points).** Write pandas code to compute the average cost of menu item entries that have a Overall rating >= 4.2, again rounded to the nearest cent.

In [ ]:
...
print(average_cost_top_rated)

In [ ]:
print(round(average_cost_top_rated-average_cost,2))

**Problem 5.5 (2 points).** Only 60 cents more for a great burrito instead of an average one...count me in!  But then the student realized, not all the items are the kind of burrito that they like, or even burritos at all!  In particular, the student likes Asada-style burritos, which just have a menu item name containing the word `Asada`.  To make sure there are enough choices, the student also decides to lower their standards a little on the rating requirement.  Write code to calculate how many Asada burrito options there are that have a Overall rating > 3.6, and assign this to a variable named `type_rated_Asada_count`

**Hint**: You'll need to figure out how to check if a particular word is in a string (there are several ways to do this). Take a look at [https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html](https://pandas.pydata.org/docs/reference/api/pandas.Series.str.find.html) for one such way.

**Hint**: Your answer does not have to be in a single line of code.

In [ ]:
...
print(top_rated_Asada_count)

**Problem 5.6 (1 point).** Now, feeling confident in their analysis, the student feels they are armed with the knowledge they will need to have a great burrito experience.  But when their DATA110 professor finds out about what they've been working on, the professor asks them to clean up the data even more so it can be used for future DATA110 classes.  First, they ask the student to use a pandas function to make a new table `burritos_compact` that has the attributes for Google and Yelp scores removed.  Write the code below.

In [ ]:
burritos_compact = ...
print( burritos_compact)

**Problem 5.7 (2 points).** And finally, the professor asks the student to add one extra attribute to `burritos_compact`.  The attribute should be named `'Value'` which is 100.0 times the Overall rating divided by the item cost, rounded to the nearest integer.  Write the code for `burritos_extravalue` below.

In [ ]:
...
print(burritos_compact)

**Extra Credit (1 point).** What is the name of the menu item with the highest value?  Credit will only be given for an exact match.

In [ ]:

highest_value_item = ...

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Submit zip file and PDF to Gradescope Homework2

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(pdf=False, run_tests=True)